@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #1B1A1A;
    color: #fff;
    font-size: 16px;
}
/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 250px auto;
    width: 100vw;
}
.content {
    background: url(./public/content-bg.png) no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: 50px;
}


.sidebar .content .top-album .latest-album .latest-single .player {
    text-align: center;
}
/* sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

.sidebar label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 80px;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar img {
    width: 25px;
}
.sidebar span {
    margin-left: 10px;
    font-size: 0.8rem;
}
.sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebar li:hover {
    background: #545050;
    width: 200px;
    border-radius: 20px;
    transition: ease-in-out .3s;
}



.sidebar-top, .sidebar-bottom {
    margin-left: 20px;
}
main {
    display: flex;
    flex-direction: column;
}
/* content*/
.content {
    position: relative;
    max-width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.content .search-box {
    background: rgba(68, 63, 63, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.content .search-box input {
    background: transparent;
    border: none;
    outline: none;
}
.content .search-box input:focus {
   color: #fff;
}
.search-box img {
      width: 24px;
}
::placeholder {
    color: #fff;
    font-style: italic;
    font-size: 10px;
}
.content .text-area {
    text-align: end;
}
.content button {
    position: absolute;
    top: 80%;
    left: 40%;
    background: rgba(68, 63, 63, 0.4);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 10px;
    cursor: pointer;
}
.content button:hover {
    background: #fff;
    color: #1B1A1A;
    transform: translate(2px, 2px);
    transition: ease-in-out .3s;
}
.content .text-area h1 {
    font-size: 64px;
    text-shadow: 2px 2px black;
}
.content p {
    font-size: 10px;
    text-shadow: 2px 2px black;
}
/* Top Album */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.carousel .img-list{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    overflow-x: auto;
}
.carousel .img-list::-webkit-scrollbar {
    width: 0;
}
.carousel .img-list img {
    object-fit: cover;
}
.top-album h4 {
    margin: 20px;
}
.carousel img:nth-child(3){
   width: 151px;
   height: 151px;
}

/* Latest Album and Latest Singles*/ 
.latest-section-grid {
    display: grid;
    grid-template-columns: auto auto;
}
.latest-album, .latest-singles {
    padding: 0 50px;
}
.latest-album h4,
.latest-singles h4 {
    margin: 25px;       
}
.latest-album ul li,
.latest-singles ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.latest-album ul li span, img, h5 {
    margin-left: 20px;
}
.latest-album ul li>div,
.latest-singles ul li>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* player */
.player {
    position: sticky;
    display: flex;
    box-shadow: 0px -4px 4px -2px rgb(22, 22, 22);
    padding: 20px;
}
.player .profile {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 10%;
}
.player .profile img {
    border-radius: 50%;
    margin-right: 20px;
}
.player .play{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin-left: 90px;
}
.player .play img:first-child, img:nth-child(3) {
    width: 25px;
    height: 25px;
}
.player .play i {
    font-size: 35px;
    margin-left: 20px;
}
.player .play img:nth-child(2) {
    width: 20px;
    height: 20px;
}
.player .play img:last-child {
    width: 500px;
}

/* Media Queries */

/* sm */
@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .grid-container{
        grid-template-columns: auto;
    }

    .carousel {
        justify-content: flex-start;
    }
    .carousel .img-list {
        gap: 1px;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1px;
    }
    .player {
        display: flex;
        flex-direction: column;
    }
    .player .play {
        width: 5;
        align-self: start;
}

/* md */
@media only screen and (max-width: 800px) {
    .latest-section-grid {
        display: grid;
        grid-template-columns: auto;
    }

}

